<div class="FancyCalendar">
    <div class="FancyCalendar-head">
        <table class="FancyCalendar-table">
            <thead>
                <tr>
                    <td></td>
                    <td>
                        <div class="FancyCalendar-head-day">Monday</div>
                        <div class="FancyCalendar-head-day">Tuesday</div>
                        <div class="FancyCalendar-head-day">Wednesday</div>
                        <div class="FancyCalendar-head-day">Thursday</div>
                        <div class="FancyCalendar-head-day">Friday</div>
                        <div class="FancyCalendar-head-day">Saturday</div>
                        <div class="FancyCalendar-head-day">Sunday</div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="FancyCalendar-body">
        <table class="FancyCalendar-table">
            <tr>
                <td>
                    <div class="FancyCalendar-day-time">00:00</div>
                    <div class="FancyCalendar-day-time">01:00</div>
                    <div class="FancyCalendar-day-time">02:00</div>
                    <div class="FancyCalendar-day-time">03:00</div>
                    <div class="FancyCalendar-day-time">04:00</div>
                    <div class="FancyCalendar-day-time">05:00</div>
                    <div class="FancyCalendar-day-time">06:00</div>
                    <div class="FancyCalendar-day-time">07:00</div>
                    <div class="FancyCalendar-day-time">08:00</div>
                    <div class="FancyCalendar-day-time">09:00</div>
                    <div class="FancyCalendar-day-time">10:00</div>
                    <div class="FancyCalendar-day-time">11:00</div>
                    <div class="FancyCalendar-day-time">12:00</div>
                    <div class="FancyCalendar-day-time">13:00</div>
                    <div class="FancyCalendar-day-time">14:00</div>
                    <div class="FancyCalendar-day-time">15:00</div>
                    <div class="FancyCalendar-day-time">16:00</div>
                    <div class="FancyCalendar-day-time">17:00</div>
                    <div class="FancyCalendar-day-time">18:00</div>
                    <div class="FancyCalendar-day-time">19:00</div>
                    <div class="FancyCalendar-day-time">20:00</div>
                    <div class="FancyCalendar-day-time">21:00</div>
                    <div class="FancyCalendar-day-time">22:00</div>
                    <div class="FancyCalendar-day-time">23:00</div>
                </td>
                <td class="FancyCalendar-events-body"></td>
            </tr>
        </table>
    </div>
</div>
