<div class="FancyCalendar">
    <div class="FancyCalendar-head">
        <table class="FancyCalendar-table">
            <thead>
                <tr>
                    <td></td>
                    <td>
                        <div class="FancyCalendar-head-day">Monday</div>
                        <div class="FancyCalendar-head-day">Tuesday</div>
                        <div class="FancyCalendar-head-day">Wednesday</div>
                        <div class="FancyCalendar-head-day">Thursday</div>
                        <div class="FancyCalendar-head-day">Friday</div>
                        <div class="FancyCalendar-head-day">Saturday</div>
                        <div class="FancyCalendar-head-day">Sunday</div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="FancyCalendar-body">
        <table class="FancyCalendar-table">
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">00:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">01:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">02:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">03:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">04:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">05:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">06:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">07:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">08:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">09:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">10:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">11:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">12:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">13:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">14:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">15:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">16:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">17:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">18:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">19:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">20:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">21:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">22:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
            <tr class="FancyCalendar-body-day">
                <td class="FancyCalendar-body-day-time">23:00</td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
                <td class="FancyCalendar-body-day-hour"></td>
            </tr>
        </table>
        <table class="FancyCalendar-table FancyCalendar-skeleton">
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
                <td class="FancyCalendar-events-body" rowspan="24"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
            <tr>
                <td class="FancyCalendar-body-day-time"></td>
            </tr>
        </table>
    </div>
</div>
